body {
  background-color: rgb(30, 30, 30);
}
a:link {
  color: pink;
  text-decoration: none;
}
a:active {
  color: pink;
  text-decoration: none;
}
a:visited {
  color: pink;
  text-decoration: none;
}
a:hover {
  color: pink;
  text-decoration: none;
}
h1, h2, h3 {
  color: wheat;
}
p {
  color: wheat;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
#wrapper {
  display: flex;
  justify-content: center;
}
#grid-container {
  display: grid;
  grid-template-columns: 800px 150px;
  padding: 0px;
  gap: 0px;
  justify-content: center;
}
#grid-header {
  border: 0px solid rgba(0, 0, 0, 0.9);
  grid-column: span 2;
  grid-row: 1;
  height: 160px;
  margin-bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}
#grid-content {
  border: 0px solid rgba(0, 0, 0, 0.9);
  grid-column: 1;
  grid-row: 2;
  background-color: black;
  border-radius: 10px;
  padding-left: 0em;
  padding-top: 1em;
  padding-right: 0em;
  padding-bottom: 1em;
}
#grid-info {
  border: 0px solid rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  padding-left: 1em;
  grid-column: 2;
  grid-row: 2;
  color: wheat;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
#grid-footer {
  border: 0px solid rgba(0, 0, 0, 0.9);
  padding: 0px;
  grid-column: span 2;
  grid-row: 3;
  padding-top: 15px;
  color: wheat;
}
